.catalog {
    background: url(../image/catalogbanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    padding: 0px 0;
    @media only screen and (max-width: 900px) {
        width: 100%;
    }
    .catalogbg {
        background-color: #25252573;
        padding: 60px 0px;
    }
    .mainContainer {
        display: block;
    }
    .title {
        width: 100%;
        background: none;
        h2 {
            color: #ffffff;
            font-size: 50px;
        }
        p {
            width: 60%;
            justify-content: space-between;
            @media only screen and (max-width: 900px) {
                width: 100%;
            }
        }
    }
}