@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    font-family: 'Proxima Nova', sans-serif;
}

.mainContainer {
    max-width: 1200px;
    margin: auto;
    @media only screen and (max-width: 900px) {
        margin: auto;
        padding: 0px 20px;
    }
}

.title {
    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 58px;
    }
    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
    }
    @media only screen and (max-width: 900px) {
        width: 100%;
    }
}

.container {
    .title {
        h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 58px;
        }
        p {
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
        }
        @media only screen and (max-width: 900px) {
            width: 100%;
        }
    }
}

.related {
    .titlelist {
        width: 50%;
        margin: auto;
        text-align: center;
        padding: 40px 0;
        @media only screen and (max-width: 900px) {
            width: 100%;
            padding: 0 10px;
        }
        h2 {
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            font-weight: 700;
            line-height: 58px;
            &::after {
                content: "";
                height: 3px;
                width: 120px;
                background: #c4c4c4;
                margin: auto;
                display: block;
                margin-bottom: 20px;
                display: none;
            }
        }
    }
}

.titlelist {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 40px 0;
    @media only screen and (max-width: 900px) {
        width: 100%;
        padding: 0 10px;
    }
    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 58px;
        &::after {
            content: "";
            height: 3px;
            width: 120px;
            background: #c4c4c4;
            margin: auto;
            display: block;
            margin-bottom: 20px;
        }
    }
    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
    }
}

.price {
    h3 {
        font-size: 22px;
        font-weight: 600;
        line-height: 26px;
    }
    p {
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
    }
}

.link {
    li {
        a {
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            color: #000;
            &:hover {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}

.button {
    a {
        color: #ffffff;
    }
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    background: #000;
    &:hover {
        background: #b85252;
        a {
            color: #000;
        }
    }
}

.redeem {
    a {
        color: #ffffff;
    }
    width: 150px;
    padding: 9px 20px;
    text-align: center;
    background: #000;
    &:hover {
        background: #b85252;
        a {
            color: #ffffff;
        }
    }
}

.shop {
    .button {
        button,
        a {
            width: 150px;
            padding: 10px 20px;
            text-align: center;
            background: #000;
            color: #ffffff;
            margin: 0 20px;
        }
    }
}

.shop {
    .button {
        a {
            width: 150px;
            padding: 10px 20px;
            text-align: center;
            background: #000;
            color: #ffffff;
            margin: 0 20px;
        }
    }
}

button {
    background: none;
    outline: none;
    border: none;
}

.submit {
    h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        margin-bottom: 20px;
        @media only screen and (max-width: 700px) {
            margin-top: 10px;
        }
    }
    ul {
        li {
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            a {
                color: #A4A4A4;
                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
    p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #A4A4A4;
        &:hover {
            color: #ffffff;
        }
    }
}

.hoverSection {
    h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 25px;
        color: #ffffff;
    }
    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        color: #BCBCBC;
    }
    h5 {
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        color: #BCBCBC;
    }
}